.App_container {
  margin-top: 40px;
  margin-left: 40px;
  width: 700px;
  display: flex;
  justify-content: space-around;
}

.App {
    margin-left: 50px;
    margin-top: 30px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    background: url('https://dekorimage.ru/upload/iblock/b08/b08605e71206623068b9fa29ec0a90ad.jpg') ;
    border-radius: 15px;
}

.container {
    width: 250px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.containerInput {
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.setMenu {
    width: 300px;
    height: 300px;
    display: flex;
    background: url('https://dekorimage.ru/upload/iblock/b08/b08605e71206623068b9fa29ec0a90ad.jpg');
    margin-left: 50px;
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    border-radius: 15px;
}


.error {
    align-self: center;
    margin-top: 10px;
    font-family: monospace;
    font-weight: bolder;
    color: crimson;
  font-size: 18px;
}

